[Unit]
Description=TDI Bot
After=network.target

[Service]
Type=simple
User=tdi
ExecStart=/lib/tdi/start.sh
WorkingDirectory=/etc/tdi/
Restart=on-failure

[Install]
WantedBy=multi-user.target